<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News Results</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/light-results.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dark-results.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <!-- Include jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- Include custom JavaScript for theme switching -->
    <script src="{{ url_for('static', filename='js/theme.js') }}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
  {% include 'header.html' %}
    <style>
        #News button{
          border-bottom: 2px solid #F92B65;
        }
      </style>
   


<br>




<br>









<br>










<br>













        {% for news_item in news_results %}
        <div class="result" >
            <h4>{{ news_item.title }}</h4>
            <p>{{ news_item.body }}</p>
            <p> <a href="{{ news_item.url }}">VISIT WEBSITE</a></p>
        </div>
        <br>




        <br>




        <br>






        
        {% endfor %}
    
    <!-- Button to load more news -->
    <form action="/search_q={{ search_query }}&type=news&results=more" method="post">
        <input type="hidden" name="search_query" value="{{ search_query }}">
        <input type="hidden" name="num_results" value="{{ news_results|length }}">
        <button type="submit" class="more">More News</button>
    </form>
</body>
</html>
